.profile-pic {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 150px;
  border-radius: 40px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.about__container {
  display: flex;
  flex-direction: row;
}
