.tech {
  display: flex;
  flex-direction: column;
}

.tech-name {
  align-self: center;
}
.stackheader {
  display: flex;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .ballcanvasmobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
